<?xml version="1.0"?>
<config>
    <modules>
        <GoldenScent_PartnerInvoices>
            <version>1.0.0</version>
        </GoldenScent_PartnerInvoices>
    </modules>
    <global>   
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>GoldenScent_PartnerInvoices_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <partnerinvoices>
                <class>GoldenScent_PartnerInvoices_Model</class>
                <resourceModel>partnerinvoices_mysql4</resourceModel>
            </partnerinvoices>
        </models>
        <resources>
            <partnerinvoices_setup>
                <setup>
                    <module>GoldenScent_PartnerInvoices</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </partnerinvoices_setup>
            <partnerinvoices_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </partnerinvoices_write>
            <partnerinvoices_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partnerinvoices_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <partnerinvoices>
                <use>standard</use>
                <args>
                    <module>GoldenScent_PartnerInvoices</module>
                    <frontName>partnerinvoices</frontName>
                </args>
            </partnerinvoices>
        </routers>
        <events>
            <sales_order_place_after>
                <observers>
                    <goldenscent_partnerinvoices_sales_order_place_after>
                        <type>singleton</type>
                        <class>GoldenScent_PartnerInvoices_Model_Observer_OrderPlaceAfter</class>
                        <method>execute</method>
                    </goldenscent_partnerinvoices_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
</config> 